{% extends "base.html" %}
{% block content %}


<div class="nice-links">
<h1>About</h1>

<p>The <a href="https://www.neh.gov/">National Endowment for the Humanities</a> is an independent federal agency that supports humanities projects and initiatives, including those for education, historical preservation, and public-facing scholarship. <a href="http://www.npr.org/2017/03/16/520379061/read-president-trumps-budget-blueprint">Recent budget proposals</a> allocate zero funding to the NEH, an extreme stance that disregards the local impact of the agency and its role in preserving and advancing American culture and scholarship.</p>

<p>The NEH Impact Index makes visible the impact of the NEH on local communities and cultural institutions. <a href="/index">Enter a zip code and search radius</a> to find projects funded by the NEH in that region. Projects are color-coded by category to show their impact in areas such as education, preservation, and public programs.</p>

<p>The NEH Impact Index was created as part of an effort by <a href="https://gcdi.commons.gc.cuny.edu/">Graduate Center Digital Initiatives (GCDI)</a> to highlight the impact of the NEH, not only in the humanities but also in the wider culture. The Digital Fellows, an interdisciplinary group of graduate students led by <a href="https://twitter.com/mkgold">Matthew K. Gold</a> and <a href="https://twitter.com/lmrhody">Lisa M. Rhody</a>, is undertaking a variety of approaches to underscore the value of organizations such as the NEH.  This site was created by <a href="https://twitter.com/psmyth01">Patrick Smyth</a>, a <a href="https://digitalfellows.commons.gc.cuny.edu/">GC Digital Fellow</a> and graduate student in English at the Graduate Center.</p>

</div>
<br><br>

{% endblock %}
