{% extends "base.html" %}

{% block content %}
{% include "js.html" %}
<h1>{{ database.name }}</h1>

<p>{{ database.summary }}

<ul class="tab">
  <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Overview')">Overview</a></li>
  <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Facts')">Facts</a></li>
<li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'History/Provenance')">Provenance</a></li>
<li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Review')">Review</a></li>
<li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Access')">Access</a></li>
<li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Info from Publisher')">Publisher</a></li>
<li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Conversations')">Conversations</a></li>
<li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Citing')">Citing</a></li>
</ul>

<div id="Overview" class="tabcontent">
  <h3>Overview</h3>
  <p>{{ database.bc_overview }}</p>
</div>

<div id="Facts" class="tabcontent">
  <h3>Facts</h3>
  <p>some facts</p>
</div>

<div id="Citing" class="tabcontent">
  <h3>Citation Information</h3>
  <p>{{ database.citing }}</p>
</div>

{% endblock %}
