<style>
 @media (min-width: 600px) {
   #hamburger {
     display: none;
     float:right;
     margin-left:400px;
   }
 }
  @media (max-width: 600px) {   
    .desktop-only {
      display: none;
    }
  }

  @media (min-width: 600px) {   
    .display-again {
      display: none !important;
    }
  }
 
  @media (min-width: 600px) {   
    .desktop-only {
      display: inline !important;
    }
  } 
    
 .vertical-display li {
   display: block;
   padding-top:10px;
   position: relative;
   width: 100%;
   font-size:20px;
   left: 75%;
}



</style>

<nav class="navigation">


    <a href="/index.html"><img alt="return to main page" class="desktop-only vertical-center" src="{{ url_for('static', filename="img/gcdi_logo_21px.jpg")}}" alt="site hoe"></a>
  <ul class="desktop-only">
    <li><a href="/about">About</a></li>
    <li><a href="/faq">FAQ</a></li>    
    <li><a href="https://digitalfellows.commons.gc.cuny.edu/">Fellows</a></li>
    <li><a href="https://www.neh.gov/">NEH</a></li>
  </ul>
  <input alt="nav-menu" type="image" style="position:absolute;border:none;top:13px;right:13px" id="hamburger" src="{{ url_for('static', filename="img/hamburger.svg") }}" rel="stylesheet">  


<script>
 $("#hamburger").click(function(){
     
     $("ul.desktop-only").toggle("fast", complete=function(){
	 $(".desktop-only").toggleClass("vertical-display").toggleClass("display-again");
     })
     });
	 
 

</script>
</nav>
