<!-- CSS -->
<link href="{{ url_for('static', filename="skeleton/css/normalize.css") }}" rel="stylesheet">
<link href="{{ url_for('static', filename="skeleton/css/skeleton.css") }}" rel="stylesheet">
<link href="{{ url_for('static', filename="styles.css") }}" rel="stylesheet">

<!-- Font -->
<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

<!-- Old styles -->
  <!-- <link href="{{ url_for('static', filename="/css/bootstrap.css") }}" rel="stylesheet">
       <link href="{{ url_for('static', filename="styles.css") }}" rel="stylesheet">

       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
       <script src="{{ url_for('static', filename="bootstrap/js/bootstrap.min.js") }}"></script> -->
