<!-- CSS -->
<link href="{{ url_for('static', filename="skeleton/css/normalize.css") }}" rel="stylesheet">
<link href="{{ url_for('static', filename="skeleton/css/skeleton.css") }}" rel="stylesheet">
<link href="{{ url_for('static', filename="styles.css") }}" rel="stylesheet">

{% if jquery %}
<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
{% endif %}

<!-- Font -->
<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
